body {
    height: 100%;
    color: black;
    background: url(../../img/abstractbg.jpg); 
    
  }

  #main {
    width: 80vh;
    margin: 0 auto;
    text-align: left;
    min-height: 400px !important;
  }
  
  ul {
    list-style: none;
  }
  
  ul>li:hover {
    background-color: #F5F5F5;
  }
  
  .form-inline .form-control {
    width: 60%;
  }
  
  .done {
    color: green;
    text-decoration: line-through;
  }
  
  .undone {
    color: red;
  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }
  
  .bg-todo{
    background-color:whitesmoke;
    color: darkgray !important;
    
}