.bg-Login{
    width: 100vw;
    height: 100vh;
    background: url(../../img/abstractbg.jpg) no-repeat center center fixed; 
    
    
    
}

.register{
    padding: 0% 15% 2% 15%;
}

.Login{
   
    background-color:  rgba(243, 245, 250,0.9) !important ;
    border-radius: 20px;
   
}

.Logo-form{
    height: 200px;
    width: 200px;
}