.pass_show {
  position: relative;
}

.pass_show .ptxt {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  color: #584a3e;
  margin-top: -10px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.pass_show .ptxt:hover {
  color: #333333;
}

.form-control {
    background-color : white;
    border-color:rgba(0,0,0,.5);
    border-radius: 1rem;
    color:white;
    
}