.responsive-map-container {
    position: relative;
    padding-bottom: 40%;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}

.responsive-map-container iframe,   
.responsive-map-container object,  
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 80vh;
}

.div-height{
    min-height: 70vh;
    max-height: 80vh;
    
}